#Codigo{
    width: 10%;
    margin-left: 2%;
}
#Descripcion{
    width:25%
}
#Precio{
    width: 10%;
    margin-left: 2%;
}
#Stock{
    width: 7%;
}
.checked{
    margin-left: 5%;
}
#buscadorProductos{
    width: 20%;
}